<div class="modal fade" id="addFile" tabindex="-1" role="dialog" aria-labelledby="editModalLabel" aria-hidden="true">
	<div class="modal-dialog" role="document">
	  <div class="modal-content">
			<div class="modal-header">
				<h4 class="modal-title" id="exampleModalLabel">Foto</h4>
			</div>
				<div class="modal-body">
					<%= form_for @day do |f| %>
						<%= f.label :attach_file %>
						<p>Сhoose Foto</p>
						<%= f.file_field :attach_file, class: 'form-control-file'%>
						<br>
						<p class="allert-file">Size file: 1-5 megabytes</p> 
						<p class="allert-file">Type file: *.png *.jpg *.jpeg</p>
						<%= f.submit 'Attach', class: 'btn btn-success'%>
					<%end%>
				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
				</div>
	  </div>
	</div>
</div>
