<div class="row" >
<h2>Diary</h2>
<div class="notices">
  <%= render "notices/new_notice" %>
</div>
<%= render  "calendar" %>
<span class="btn btn-default btn-lg" ><%= link_to "New day", new_day_path %></span>
</div>
