<h4>Total number of tasks <%=Task.all.count%></h4>
<%= render  "calendar" %>
<!-- <span class="mobilebutton"><%= button_to "New day", new_day_path, :method => "get", :class => "btn btn-primary" %></span> -->
<!-- <%= render "globalcalendar" %> -->
