<h4>Total amount of tasks <%=Task.all.count%></h4>
<div class="tips">
		<div class="red center"></div>
		<i> -success day</i>
		<div class="green center"></div>
		<i> -not success day</i>
		<div class="blue center"></div>
		<i> -day not set</i>
</div>
<%= render  "calendar" %>

<!-- <span class="mobilebutton"><%= button_to "New day", new_day_path, :method => "get", :class => "btn btn-primary" %></span> -->
<!-- <%= render "globalcalendar" %> -->

