<div class="notices">
  <%= render "notices/new_notice" %>
</div>
<%= render "globalcalendar" %>
<%= render  "calendar" %>
<span><%= button_to "New day", new_day_path, :method => "get", :class => "btn btn-primary" %></span>

